exportPattern("^[[:alpha:]]+")

#' @importFrom terra ifel nlyr rast values global spatSample res ext
#' @importFrom stats rbinom rnbinom rpois
#' @importFrom dplyr rename rownames_to_column
#' @importFrom rlist pluck
