exportPattern("^[[:alpha:]]+")
importFrom("stats", "rbinom", "rnbinom", "rpois")
importFrom("dplyr", "rename")
importFrom("tibble", "rownames_to_column")
importFrom("purrr", "pluck")
importFrom("terra", "ifel", "nlyr", "rast", "values", "global", "spatSample", "res", "ext")
